.left {
    position: absolute;
    left: 20px;
    padding: 10px;
  }
  
  .userinfobackdrop {
    margin-top: 10px;
    width: 40%;
    border: 15px solid #628C67;
    padding: 10px;
    background-color: rgb(211, 167, 110);
    text-align: center;
}