@import url("https://cdn.syncfusion.com/ej2/material.css");

.calendarbackdrop {
    width: 50%;
    height: 50%;
    border: 15px solid #628C67;
    padding: 10px;
    background-color: rgb(211, 167, 110);
  }

  .calendarcenter {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  