.navbar {
    display: flex;
    flex-direction: row;
    background-color: tan;
    width: 100%;
    align-items: center;
    text-decoration: none;
    font-family: "Copperplate", fantasy;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    color: #628C67;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
}